html, body {
  background-color: white;
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-size: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2.5fr 2.5fr;
  height: 100%;
}

.grid-column {
  background-color: #f1f1f1;
  border-right: 1px solid #ccc;
}

.grid-column.grid-column-1 {
  text-align: center;
}

.grid-column.grid-column-3 {
  border-right: none;
}

.nav-item {
  color: #333;
  height: 30px;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item.nav-item-1 {
  display: flex;
  position: relative;
}

.nav-item.nav-item-4, .nav-item.nav-item-5, .nav-item.nav-item-6, .nav-item.nav-item-7, .nav-item.nav-item-8, .nav-item.nav-item-9 {
  justify-content: flex-start;
}

.nav-item:hover {
    background-color: #e0e0e0;
    border-radius: 4px;
}

.nav-title-over {
  padding: 0px 5px;
  font-weight: 50;
  color: #737373;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  height: 100px;
  width: 100px;
  left: 100%;
  top: 0;
  z-index: 1;
  background-color: #FBFBFA;
  border-radius: 5px;
}

.dropdown-menu.active {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-item.nav-item-1 .nav-icon-down {
  display: none;
}

.icon-container-main-nav {
  margin-right: 10px;
}

#fullscreen-iframe {
  display: none;
  position: fixed;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 75%;
  border: none;
  z-index: 11; /* Ensure the iframe is above the background overlay */
  transform: translate(-50%, -50%); /* Center the iframe */
}

#background-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 10; /* Ensure the background overlay is below the iframe */
}