html, body {
  height: 150%;
  width: 150%;
  font-family: Roboto; /*Probably should change this to a monospace font family later, which I prefer */
}

h2, h3 {
  text-colour: red;
}

#nyan_cat_gif {
 border: 1px solid black;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
